[data-dark="false"] {
  --primary: #0ea5e9;
  --secondary: #7dd3fc;
  --text: #000000;
  --background: #ffffff;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000020;
}

[data-dark="true"] {
  --primary: #0ea5e9;
  --secondary: #075985;
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}

:root {
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Roboto", sans-serif;
  --code: "Roboto Mono", monospace;
  
  --medium: 1rem;
  --large: 1.4rem;
  --xl: 1.8rem;
  --xxl: 2.2rem;
  
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;
  
  --line-height: 1.5;
  
  --rounded: 5px;
  --shadow: 0 0 8px 0 var(--overlay);
}
