// Updated colors
[data-dark="false"] {
  --primary: #0dafea;
  --secondary: #6bc9fc;
  --text: #0a0a0a;
  --background: #f9f9f9;
  --background-alt: #f1f1f1;
  --light-gray: #dcdcdc;
  --gray: #8a8a8a;
  --overlay: #0000001f;
}

[data-dark="true"] {
  --primary: #0c96d2;
  --secondary: #065674;
  --text: #e9e9e9;
  --background: #161616;
  --background-alt: #202020;
  --light-gray: #3c3c3c;
  --gray: #7a7a7a;
  --overlay: #ffffff0f;
}

:root {
  // Slightly varied font families
  --title: "Barlow Semi Condensed", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // Adjusted font sizes
  --medium: 1.05rem;
  --large: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;

  // Font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 700; // Increased boldness

  // Improved text line spacing
  --spacing: 1.5;

  // Enhanced effects
  --rounded: 4px; // Slightly rounder corners
  --shadow: 0 2px 12px -1px var(--overlay); // A more natural shadow
}
