---
---

// colors
[data-dark="false"] {
  --primary: #7d0208;
  --secondary: #de3750;
  --text: #000000;
  --background: #ebfcf7;
  --background-alt: #d7faf0;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #ffffff;
}
[data-dark="true"] {
  --primary: #fcdbd9;
  --secondary: #5c0105;
  --text: #ffffff;
  --background: #120302;
  --background-alt: #182025;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --medium: 1.2rem;
  --large: 1.4rem;
  --xl: 1.6rem;
  --xxl: 1.8rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 1.5;
  --shadow: none;




  // effects
  --rounded: 3px;
  
}
