{% assign episode = episode.posts 
  | where_exp: "episode", "episode.slug == include.lookup"
  | first
  | default: include
%}

<div class="episode-excerpt">
  {% assign url = episode.url %}
  {% assign title = episode.title %}
  <a href="{{ url | relative_url }}">{{ title }}</a>

  {%
    include episode-info.html
    author=episode.author
    published=episode.date
    updated=episode.last_modified_at
    tags=episode.tags
  %}

  {% assign excerpt = episode.content
    | default: ""
    | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
    | default: episode.excerpt
    | default: ""
    | strip_html
  %}
  {% assign search = episode.content
    | strip_html 
    | strip_newlines
    | regex_strip
  %}
  <p data-search="{{ search }}">
    {{ excerpt }}
  </p>
</div>
